# LeetCode Python & Pandas Exercises

Welcome to this collection of LeetCode problems! This notebook contains 8 problems covering:
- **Pandas DataFrame operations** (merging, filtering, grouping, pivoting)
- **Python algorithms** (Roman numeral conversion)

## How to Use This Notebook
1. Read each problem description carefully
2. Write your solution in the provided code cell
3. Run the test cell to check your answer
4. All test data is provided by the `test_cases` module

**Good luck!** ðŸŽ¯

In [ ]:
# Import required libraries
import pandas as pd
import numpy as np

# Import test cases module
import test_cases as tc

print("Libraries imported successfully!")

---
## Problem 1: Combine Two Tables (LeetCode 175)

### Table: Person

| Column Name | Type    |
|-------------|--------|
| personId    | int     |
| lastName    | varchar |
| firstName   | varchar |

- `personId` is the primary key for this table.
- This table contains information about the ID of some persons and their first and last names.

### Table: Address

| Column Name | Type    |
|-------------|--------|
| addressId   | int     |
| personId    | int     |
| city        | varchar |
| state       | varchar |

- `addressId` is the primary key for this table.
- Each row contains information about the city and state of one person with ID = personId.

### Task
Write a solution to report the **first name**, **last name**, **city**, and **state** of each person in the Person table. If the address of a personId is not present in the Address table, report `null` instead.

### Example

**Input:**

Person table:
| personId | lastName | firstName |
|----------|----------|----------|
| 1        | Wang     | Allen     |
| 2        | Alice    | Bob       |

Address table:
| addressId | personId | city          | state      |
|-----------|----------|---------------|------------|
| 1         | 2        | New York City | New York   |
| 2         | 3        | Leetcode      | California |

**Output:**
| firstName | lastName | city          | state    |
|-----------|----------|---------------|----------|
| Allen     | Wang     | null          | null     |
| Bob       | Alice    | New York City | New York |

**Hint:** Think about which type of join to use when you want to keep all records from one table.

In [ ]:
# View the test data
person, address = tc.get_combine_two_tables_data()
print("Person Table:")
display(person)
print("\nAddress Table:")
display(address)

In [ ]:
# YOUR SOLUTION HERE
def combine_two_tables(person: pd.DataFrame, address: pd.DataFrame) -> pd.DataFrame:
    """
    Combine Person and Address tables to report firstName, lastName, city, and state.
    
    Args:
        person: DataFrame with personId, lastName, firstName
        address: DataFrame with addressId, personId, city, state
    
    Returns:
        DataFrame with firstName, lastName, city, state
    """
    
    # Write your solution below
    pass

In [ ]:
# Test your solution
tc.test_combine_two_tables(combine_two_tables)

---
## Problem 2: Roman to Integer (LeetCode 13)

Roman numerals are represented by seven different symbols:

| Symbol | Value |
|--------|-------|
| I      | 1     |
| V      | 5     |
| X      | 10    |
| L      | 50    |
| C      | 100   |
| D      | 500   |
| M      | 1000  |

Roman numerals are usually written largest to smallest from left to right. However, there are special cases where subtraction is used:

- `I` can be placed before `V` (5) and `X` (10) to make 4 and 9.
- `X` can be placed before `L` (50) and `C` (100) to make 40 and 90.
- `C` can be placed before `D` (500) and `M` (1000) to make 400 and 900.

### Examples

| Input     | Output | Explanation                           |
|-----------|--------|--------------------------------------|
| "III"     | 3      | III = 3                               |
| "LVIII"   | 58     | L = 50, V = 5, III = 3                |
| "MCMXCIV" | 1994   | M = 1000, CM = 900, XC = 90, IV = 4   |

### Constraints
- `1 <= s.length <= 15`
- `s` contains only the characters ('I', 'V', 'X', 'L', 'C', 'D', 'M')
- It is guaranteed that `s` is a valid roman numeral in the range [1, 3999]

**Hint:** Compare each character with the next one. If the current value is less than the next, subtract it; otherwise, add it.

In [ ]:
# YOUR SOLUTION HERE
def roman_to_integer(s: str) -> int:
    """
    Convert a Roman numeral string to an integer.
    
    Args:
        s: A string representing a valid Roman numeral
    
    Returns:
        The integer value of the Roman numeral
    """
    # Write your solution below
    pass

In [ ]:
# Test your solution
tc.test_roman_to_integer(roman_to_integer)

---
## Problem 3: Duplicate Emails (LeetCode 182)

### Table: Person

| Column Name | Type    |
|-------------|--------|
| id          | int     |
| email       | varchar |

- `id` is the primary key for this table.
- Each row contains an email. The emails will not contain uppercase letters.

### Task
Write a solution to report all the **duplicate emails**. Note that it's guaranteed that the email field is not NULL.

### Example

**Input:**

Person table:
| id | email   |
|----|--------|
| 1  | a@b.com |
| 2  | c@d.com |
| 3  | a@b.com |

**Output:**
| Email   |
|--------|
| a@b.com |

**Explanation:** a@b.com is repeated two times.

**Hint:** Use `groupby()` to count occurrences of each email.

In [ ]:
# View the test data
person = tc.get_duplicate_emails_data()
print("Person Table:")
display(person)

In [ ]:
# YOUR SOLUTION HERE
def duplicate_emails(person: pd.DataFrame) -> pd.DataFrame:
    """
    Find all duplicate emails in the Person table.
    
    Args:
        person: DataFrame with id and email columns
    
    Returns:
        DataFrame with Email column containing duplicate emails
    """
    # Write your solution below
    pass

In [ ]:
# Test your solution
tc.test_duplicate_emails(duplicate_emails)

---
## Problem 4: Game Play Analysis I (LeetCode 511)

### Table: Activity

| Column Name  | Type |
|-------------|------|
| player_id    | int  |
| device_id    | int  |
| event_date   | date |
| games_played | int  |

- `(player_id, event_date)` is the primary key for this table.
- This table shows the activity of players of some games.
- Each row is a record of a player who logged in and played a number of games before logging out.

### Task
Write a solution to find the **first login date** for each player.

### Example

**Input:**

Activity table:
| player_id | device_id | event_date | games_played |
|-----------|-----------|------------|-------------|
| 1         | 2         | 2016-03-01 | 5            |
| 1         | 2         | 2016-05-02 | 6            |
| 2         | 3         | 2017-06-25 | 1            |
| 3         | 1         | 2016-03-02 | 0            |
| 3         | 4         | 2018-07-03 | 5            |

**Output:**
| player_id | first_login |
|-----------|------------|
| 1         | 2016-03-01  |
| 2         | 2017-06-25  |
| 3         | 2016-03-02  |

**Hint:** Use `groupby()` with the `min()` aggregation function.

In [ ]:
# View the test data
activity = tc.get_game_play_analysis_data()
print("Activity Table:")
display(activity)

In [ ]:
# YOUR SOLUTION HERE
def game_play_analysis(activity: pd.DataFrame) -> pd.DataFrame:
    """
    Find the first login date for each player.
    
    Args:
        activity: DataFrame with player_id, device_id, event_date, games_played
    
    Returns:
        DataFrame with player_id and first_login columns
    """
    # Write your solution below
    pass

In [ ]:
# Test your solution
tc.test_game_play_analysis(game_play_analysis)

---
## Problem 5: Reshape Data: Concatenate (LeetCode 2888)

### DataFrames df1 and df2

| Column Name | Type   |
|-------------|--------|
| student_id  | int    |
| name        | object |
| age         | int    |

### Task
Write a solution to **concatenate these two DataFrames vertically** into one DataFrame.

### Example

**Input:**

df1:
| student_id | name    | age |
|------------|---------|-----|
| 1          | Mason   | 8   |
| 2          | Ava     | 6   |
| 3          | Taylor  | 15  |
| 4          | Georgia | 17  |

df2:
| student_id | name | age |
|------------|------|-----|
| 5          | Leo  | 7   |
| 6          | Alex | 7   |

**Output:**
| student_id | name    | age |
|------------|---------|-----|
| 1          | Mason   | 8   |
| 2          | Ava     | 6   |
| 3          | Taylor  | 15  |
| 4          | Georgia | 17  |
| 5          | Leo     | 7   |
| 6          | Alex    | 7   |

**Hint:** Use `pd.concat()` to stack DataFrames vertically.

In [ ]:
# View the test data
df1, df2 = tc.get_concatenate_data()
print("DataFrame 1:")
display(df1)
print("\nDataFrame 2:")
display(df2)

In [ ]:
# YOUR SOLUTION HERE
def concatenate_dataframes(df1: pd.DataFrame, df2: pd.DataFrame) -> pd.DataFrame:
    """
    Concatenate two DataFrames vertically.
    
    Args:
        df1: First DataFrame
        df2: Second DataFrame
    
    Returns:
        Concatenated DataFrame
    """
    # Write your solution below
    pass

In [ ]:
# Test your solution
tc.test_concatenate(concatenate_dataframes)

---
## Problem 6: Invalid Tweets (LeetCode 1683)

### Table: Tweets

| Column Name | Type    |
|-------------|--------|
| tweet_id    | int     |
| content     | varchar |

- `tweet_id` is the primary key for this table.
- This table contains all the tweets in a social media app.

### Task
Write a solution to find the IDs of the **invalid tweets**. The tweet is invalid if the number of characters used in the content of the tweet is **strictly greater than 15**.

### Example

**Input:**

Tweets table:
| tweet_id | content                           |
|----------|----------------------------------|
| 1        | Let us Code                       |
| 2        | More than fifteen chars are here! |

**Output:**
| tweet_id |
|----------|
| 2        |

**Explanation:**
- Tweet 1 has length = 11. It is a valid tweet.
- Tweet 2 has length = 33. It is an invalid tweet.

**Hint:** Use `.str.len()` to get the length of strings in a column.

In [ ]:
# View the test data
tweets = tc.get_invalid_tweets_data()
print("Tweets Table:")
display(tweets)

In [ ]:
# YOUR SOLUTION HERE
def invalid_tweets(tweets: pd.DataFrame) -> pd.DataFrame:
    """
    Find tweet IDs where content length is greater than 15.
    
    Args:
        tweets: DataFrame with tweet_id and content columns
    
    Returns:
        DataFrame with tweet_id of invalid tweets
    """
    # Write your solution below
    pass

In [ ]:
# Test your solution
tc.test_invalid_tweets(invalid_tweets)

---
## Problem 7: Reshape Data: Pivot (LeetCode 2889)

### DataFrame: weather

| Column Name | Type   |
|-------------|--------|
| city        | object |
| month       | object |
| temperature | int    |

### Task
Write a solution to **pivot the data** so that each row represents temperatures for a specific month, and each city is a separate column.

### Example

**Input:**

| city         | month    | temperature |
|--------------|----------|------------|
| Jacksonville | January  | 13          |
| Jacksonville | February | 23          |
| Jacksonville | March    | 38          |
| Jacksonville | April    | 5           |
| Jacksonville | May      | 34          |
| ElPaso       | January  | 20          |
| ElPaso       | February | 6           |
| ElPaso       | March    | 26          |
| ElPaso       | April    | 2           |
| ElPaso       | May      | 43          |

**Output:**

| month    | ElPaso | Jacksonville |
|----------|--------|-------------|
| April    | 2      | 5            |
| February | 6      | 23           |
| January  | 20     | 13           |
| March    | 26     | 38           |
| May      | 43     | 34           |

**Hint:** Use `pivot()` or `pivot_table()` to reshape the data.

In [ ]:
# View the test data
weather = tc.get_pivot_data()
print("Weather Table:")
display(weather)

In [ ]:
# YOUR SOLUTION HERE
def pivot_weather(weather: pd.DataFrame) -> pd.DataFrame:
    """
    Pivot the weather data so each row is a month and each column is a city.
    
    Args:
        weather: DataFrame with city, month, temperature columns
    
    Returns:
        Pivoted DataFrame with month and city columns
    """
    # Write your solution below
    pass

In [ ]:
# Test your solution
tc.test_pivot(pivot_weather)

---
## Problem 8: Biggest Single Number (LeetCode 619)

### Table: MyNumbers

| Column Name | Type |
|-------------|------|
| num         | int  |

- This table may contain duplicates (no primary key).
- Each row contains an integer.

### Task
A **single number** is a number that appeared only once in the MyNumbers table.

Find the **largest single number**. If there is no single number, report `null`.

### Example 1

**Input:**

MyNumbers table:
| num |
|-----|
| 8   |
| 8   |
| 3   |
| 3   |
| 1   |
| 4   |
| 5   |
| 6   |

**Output:**
| num |
|-----|
| 6   |

**Explanation:** The single numbers are 1, 4, 5, and 6. Since 6 is the largest, we return it.

### Example 2

**Input:**

MyNumbers table:
| num |
|-----|
| 8   |
| 8   |
| 7   |
| 7   |
| 3   |
| 3   |
| 3   |

**Output:**
| num  |
|------|
| null |

**Explanation:** There are no single numbers in the input table, so we return null.

**Hint:** Use `value_counts()` to count occurrences, filter for count==1, then find the max.

In [ ]:
# View the test data
my_numbers_1 = tc.get_biggest_single_number_data_1()
my_numbers_2 = tc.get_biggest_single_number_data_2()
print("MyNumbers Table (Test 1 - has single numbers):")
display(my_numbers_1)
print("\nMyNumbers Table (Test 2 - all duplicates):")
display(my_numbers_2)

In [ ]:
# YOUR SOLUTION HERE
def biggest_single_number(my_numbers: pd.DataFrame) -> pd.DataFrame:
    """
    Find the largest number that appears only once.
    
    Args:
        my_numbers: DataFrame with num column
    
    Returns:
        DataFrame with num column containing the largest single number or null
    """
    # Write your solution below
    pass

In [ ]:
# Test your solution
tc.test_biggest_single_number(biggest_single_number)

---
## ðŸŽ‰ Congratulations!

You've completed all the exercises! If you want to run all tests at once, use the cell below.

In [ ]:
# Run all tests at once
solutions = {
    'combine_two_tables': combine_two_tables,
    'roman_to_integer': roman_to_integer,
    'duplicate_emails': duplicate_emails,
    'game_play_analysis': game_play_analysis,
    'concatenate': concatenate_dataframes,
    'invalid_tweets': invalid_tweets,
    'pivot': pivot_weather,
    'biggest_single_number': biggest_single_number
}

tc.run_all_tests(solutions)